.timer {
	width: 90%;
	height: 20px;
	background-color: rgb(108, 214, 94);
	margin: auto;
	padding-bottom: 4px;
	padding-top: 4px;
}

.canvas {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}