
.body-button {
    background-color: inherit;
    font-size: 2rem;
    font-family: 'Amatic SC', sans-serif;
    color: inherit;
    padding: 6px 20px;
    transition: .1s;
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-style: dashed;
    text-transform: uppercase;
    cursor: pointer;
}

.body-button:hover, .body-button:focus {
    background-color: var(--lightest);
    transform: translateY(-2px);
    box-shadow: 0px 8px 8px var(--light2);

}

.body-button:active {
    transform: translateY(1px);
    box-shadow: 0px 0px rgb(0, 0, 0);

}

.body-button:focus {
    outline-width: 0px;
}