:root {
    --default-color: rgb(161, 161, 161);
    --primary-color: rgb(255, 79, 187);
    --secondary-color: rgb(194, 194, 194);
    --focus-color: rgb(66, 146, 119);

    --deep-black: rgba(2, 2, 2, 0.719);
    --matte-black: rgb(40, 40, 40);
    --bg-pink:   #502146;
    --clear: rgba(0, 0, 0, 0);

}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--matte-black);
    color: var(--secondary-color);
}

h2 {
    font-weight: 500;
    margin-bottom: 6px; 
}

.subtitle {
    font-size: 12px;
    margin-top: 2px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.content {
    /* Large left margin to keep the content from being overlapped 
    by the navigation */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 600px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

.log-in-card {
    /* height: 100%; */
    padding: 24px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color: var(--primary-color);
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.container {
    background-color: rgba(0, 255, 255, 0.199);
    position: relative;
    max-width: 800px;
    width: 90%;
    margin: 12px auto;
}

.main-container {
    display: flex;
    height: 100%;
    flex-direction: row;
}
