.splash {
    text-align: center;
    margin: 80px auto;
    padding: 60px 35px;
    width: 70%;
    background-color: var(--light1);
    border-radius: 1.5rem;
}

.hero-button {
    background-color: inherit;
    color: inherit;
    font-size: 3rem;
    font-family: 'Amatic SC', sans-serif;
    padding: 1rem 1.5rem;
    margin: 2rem;
    transition: .1s;
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.hero-button:hover {
    background-color: var(--lightest);
    transform: translateY(-2px);
    box-shadow: 0px 8px 8px var(--light2);

}

.hero-button:active {
    transform: translateY(1px);
    box-shadow: 0px 0px rgb(0, 0, 0);

}

.hero-button:focus {
    outline-width: 3px;
}