.keyboard-card {
    background-color: var(--matte-black);
    padding: 0px;
    margin: 12px;
}

.keyboard-title {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 12px auto;
}

.keys-preview-row {
    display: flex;
    flex-direction: row;
}

.select-button {
    width: 100%;
}

.keyboard-card-body {
    margin: 12px;
}