.keyboard-card {
    background-color: var(--matte-black);
    padding: 0px;
    margin: 12px;
}

.keys-preview {
    position: relative;
}

.keys-preview-row {
    display: flex;
    flex-direction: row;
}