.header {
    margin-bottom: 12px;
    background-color: var(--deep-black);
    color: var(--secondary-color);
    padding: 60px 12px;

    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    transform: skewY(-4deg) translateY(-30px);
    text-shadow: 0px 4px 12px var(--primary-color);
}

.header-content {
    transform: skewY(4deg) translateY(10px);
}