.header {
    margin-bottom: 12px;
    background-color: var(--light1);
    color: var(--primary-color);
    font-family: 'Amatic SC', sans-serif;
    padding: 60px 12px;

    font-size: 4rem;
    text-align: center;
    transform: skewY(-2deg) translateY(-30px);
    text-shadow: 0px 6px 16px var(--dark3);
}

.header-content {
    transform: skewY(2deg) translateY(10px);
}