/* Key row classes */
.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex:none;
}
.row-full {
    margin: 8px 4px;
}
.row-preview {
    transform: translate(-1px, -12px);
    margin: 2px;
}



/* Keyboard classes */
.keyboard {
    display: flex;
    flex-direction: column;
    background-color: var(--deep-black);
}

.full {
    border-radius: 0px 0px 16px 16px;
    top: 6px;
    left: 8px;
    right: 8px;
    padding: 24px;
    position: absolute;
}

.preview {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 24px;
    max-width: 230px;
    height: 90px;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
}