.keyboard-row {
    display: flex;
    flex-direction: row;
    margin: 8px 4px;
    justify-content: center;
}

.keyboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--deep-black);
    border-radius: 16px;
    width: 100%;
    top: 32px;
    padding: 24px;
}