.keyboard-row {
    display: flex;
    flex-direction: row;
}

.keyboard {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 16px;
    max-width: 700px;
    margin: 48px auto;
}