.tutorial-image {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
    flex-grow: 2;
}

.tutorial {
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.tutorial-info h2, .tutorial-info p {
    margin-top: 2px;
    margin-bottom: 4px;
}

.tutorial p {
    font-size: 12px;
}

.flip-image {
    transform: scaleX(-1);
}