.key {
    box-sizing: border-box;
    margin: 8px;
    padding: 12px 12px;
    background-color: var(--matte-black);
    width: 60px;
    height: 50px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition: 80ms;
    box-shadow: 0px 5px 6px var(--bg-pink);
    flex: none;
}

.key.pressed {
    background-color: var(--focus-color);
    border-color: var(--clear);
    color: var(--deep-black);
    transform: translateY(4px);
    box-shadow: none;

}

.key.disabled {
    background-color: var(--deep-black);
    border-color: var(--matte-black);
    color: var(--matte-black);
    transform: translateY(4px);
    box-shadow: none;

}

.key-text {
    font-weight: 800;
    width: 100%;
    text-align: center;
    font-size: 24px;
}