.key {
    box-sizing: border-box;
    margin: 4px;
    padding: 6px 12px;
    background-color: var(--light1);
    width: 50px;
    height: 45px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--light3);
    color: var(--dark2);
    transition: 80ms;
    box-shadow: 0px 5px 6px var(--light3);
    flex: none;
}

.key.pressed {
    background-color: var(--light3);
    border-color: var(--clear);
    color: var(--dark1);
    transform: translateY(4px);
    box-shadow: none;

}

.key.disabled {
    background-color: var(--lightest);
    border-color: var(--light1);
    color: var(--light2);
    border-style: dashed;
    transform: translateY(4px);
    box-shadow: none;

}

.key-text {
    font-weight: 800;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}