.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding: 20px;
}

.nav {
  background-image: linear-gradient(black, black, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  height: 100%;
  position:sticky;
  min-height: 600px;
  width: 180px;
}

.nav-link {
  background-color: #000000;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 3px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #351836;
}