.nav-title {
    font-size: 2rem;
    font-family: 'Amatic SC', sans-serif;
    display: inline-block;
    color: var(--primary-color);
    margin-top: 40px;
    padding-left: 20px;
}

.nav {
  background-image: linear-gradient(var(--light1), var(--light1), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  height: 450px;
  width: 12rem;
}

.nav-link {
  background-color: inherit;
  color: inherit;
  text-align: left;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 1rem;
  transform: scale(1);
  transition: .1s;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  transform: scale(1.1) translateX(.7rem);
}