.level-card {
    width: 300px;
    min-height: 150px;
    margin: 8px;
    padding: 1.5rem;
    border-color: var(--light2);
    transition: 400ms;
    border-radius: 2rem;
    border-style: dashed;

    animation-name: fade-in;
    animation-duration:500ms;
}

.level-card.hover {
    background-color: var(--light1);
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px var(--light1);
}

.level-card-content {
    padding: 12px 24px;
}

.level-card-title {
    font-size: 2rem;
    font-family: 'Amatic SC', sans-serif;
    color: var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1px;
    text-align: center;
}

.level-card-title.hover {
    color: var(--primary-color);
}

.play-button {
    width: 100%;
}