.dark-card {
    min-width: 250px;
    min-height: 150px;
    background-color: var(--deep-black);
    margin: 8px;
    padding: 0px 0px 20px 0px;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    border-style: solid;
    border-color: var(--clear);
    border-width: 1px;
    transition: 200ms;
}

.dark-card.hover {
    border-color: var(--bg-pink);
}

/* Unskew the inner workings of the card */
.dark-card-content, .dark-card-title {
    transform: skewY(4deg) translateY(-10px);
}

.dark-card-content {
    padding: 12px;
}

.dark-card-title {
    background-color: var(--matte-black);
    font-weight: 500;
    font-size: 24px;
    color: var(--main-color);
    padding-top: 44px;
    padding-bottom: 22px;
    text-align: center;
    transition: 200ms;
}

.dark-card-title.hover {
    background-color: var(--bg-pink);
    color: var(--secondary-color);
}